.header {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-color: #008B8B;
  color: white;
  /* padding-top: 20px; */
}

.logo {
  margin-left: auto;
  margin-right: auto;
  display: block;
  /* height: 390px;
  width: 480px; */
}

.dashboard {
  width: 100%;
  background-color: #024B60;
  color: white;
  padding-top: 40px;
  padding: 20px;
}

.footer {
  width: 100%;
  background-color: #008B8B;
  color: white;
  padding-top: 20px;
}

.grid-container {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(9, 1fr);
  padding: 20px;

}

.search {
  text-align: center;
  width: 100%;
  border-radius: 15px;
  padding: 5px 5px 5px 25px;
  top: 0;
  left: 0;
  z-index: 5;
  display: inline-block;
  margin-bottom: 5px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 15px;
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-default {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background: #008B8B;
  color: white;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 15px;
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: background-color 0.5s ease;
}

.btn-default:hover {
  background: #4dcece;

}

.state {
  background-color: #cccccc;
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.5s ease;
  font-weight: bold;
  
}
.modal-header {
  color: red;
 
}

.state:after {
  content: "";
  height: 0;
  padding-top: 100%;
  width: 1px;
}

.state:hover {
  background: #4dcece;
  color: red;
}
.btn {
  margin-right: 2%;
  margin-top: 2%;
  width: 50%;
}
.btn-group {
  width: 100%;
}
.close-btn{
  width: 100%;
}
#ME {
  grid-column-start: 12;
}
#VT {
  grid-column-start: 11;
}
#WA, #OR, #CA {
  grid-column-start: 2;
}
#AZ {
  grid-column-start: 3;
}
#OK, #TX {
  grid-column-start: 5;
}
#HI {
  grid-column-start: 1;
}
#FL {
  grid-column-start: 10;
}
#PR {
  grid-column-start: 12;
  grid-row-start: 9;
}

@media only screen and (max-width: 700px) and (min-width: 660px){
  
  .flex-container {
    display: flex;
    width: 20%;
  }
  .state {
    font-size: 30px;
  }
  .logo {
    height: 150px;
    width: 300px;
  }
 
}

@media only screen and (max-width: 660px)  {
  
  .flex-container {
    display: flex;
    width: 20%;
  }
  .state {
    font-size: 15px;
  }
  .logo {
    height: 150px;
    width: 300px;
  }
 
}



